@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;1,400&display=swap'); 


.entryForm {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

#randomPrompt {
    border: 0;
    font-family: 'Cormorant', serif;
    font-size: 5em;
    max-height: 50%;
}
#randomPrompt:focus{
    outline: none;
}

#entry {
    max-width: 50em;
    min-width: 40em;
    max-height: 30em;
    min-height: 10em;
    padding-bottom: 25em;
} 

.entryForm textarea {
    font-family: 'Cormorant', serif;
    font-size: 1em;
    padding-bottom: 2em;
}