@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;1,400&display=swap');


div{
    margin: auto;
    width: 50%;
    scroll-behavior: none;
}
input {
    background: transparent;
    outline: none;
    font-family: 'Cormorant', serif;
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    
    border: solid 1px #b3aca7;
}  

button{
    outline:none;
    cursor: pointer;
    font-size: 0.875em;
    border: solid 1px #b3aca7;
    
}

p{
    font-family: 'Cormorant', serif;
    font-style: italic;
}

#logo{
    max-height: 200px;
}


#leftHalf {
    width: 50%;
    position: absolute;
    left: 0px;
    height: 100%;
 }
 #leftHalf img{
    height: 100vh;
 }
 
 #rightHalf {
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
 }